@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* rose */
  --color-fem-rose-800: #7a284e;
  --color-fem-rose-50: #fff7fb;
  /* stone */
  --color-fem-stone-900: #312e2c;
  --color-fem-stone-600: #5f564d;
  --color-fem-stone-150: #e3ddd7;
  --color-fem-stone-100: #f3e5d7;
  /* brown */
  --color-fem-brown-800: #854632;
}
